<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>922631640535-q8ih4egf6cvjd9hrfpl8u70fnqamkhuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922631640535-q8ih4egf6cvjd9hrfpl8u70fnqamkhuu</string>
	<key>API_KEY</key>
	<string>AIzaSyAXyrEZDbyA1MdMS-c2dKN7ZWAgxq0CPWw</string>
	<key>GCM_SENDER_ID</key>
	<string>922631640535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambton-college.Database</string>
	<key>PROJECT_ID</key>
	<string>database-67532</string>
	<key>STORAGE_BUCKET</key>
	<string>database-67532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922631640535:ios:ce347f25d6b4415f</string>
	<key>DATABASE_URL</key>
	<string>https://database-67532.firebaseio.com</string>
</dict>
</plist>